@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.gestao{
    background: linear-gradient(to right top, #584eea, #5f5cec, #6769ee, #6f76ef, #7982ef);
}

.position-Dashboard{
    padding: 60px 0 0 0px;
}

.message-welcome{
    padding: 90px 0 0 25px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.title-dashboard{
    font-size: 16px;
    color:#ffffff;
}

.position-container-banner{
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-banner{
    width: 198vh;
    height: 35vh;
    background-color:#ffffff;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 5px 2px rgba(104, 104, 104, 0.77);
}

.position-image-ilustracao{
    display: flex;
    justify-content: flex-end;
}

.container-banner img{
    width: 50vh;
    height: 30vh;
}

.container-title-frase{
    display: flex;
    flex-direction: column;
}

.container-title{
    width: 40%;
}

.container-title h1{
    color: rgb(0, 0, 0);
}

.container-frase p{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.container-infoTotal-produtos{
    display: flex;
    justify-content: space-around;
    padding: 25px 0 0 0;
}

.position-container-mensagem{
    padding: 10px 0 0 0;
}

.container-grafico-info{
    position: relative;
    bottom: 20px;
}

.container-mensagem{
    width: 40vh;
    height: 25vh;
    background-color:rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 3px 5px 2px rgba(104, 104, 104, 0.77);
}

.user-pessoa{
    font-size: 8px;
}

.user-pessoa h1{
    padding: 15px 0 0 25px;
    display: flex;
}

.container-descricao-mensal{
    color: #b3b3b3;
}

.container-preco-icone{
    display: flex;
    justify-content: space-around;
}

.mensagem-conteudo p{
    font-size: 22px;
    display: flex;
}

.icone-dinheiro{
    width: 50px;
    height: 50px;
    margin:25px;
    background-color: rgb(223, 223, 223);
    border-radius: 50%;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.icone-dinheiro img{
    width: 5vh;
    height: 5vh;
    padding: 5px 0 0 0;
}

.icone-dinheiro{
    color: #258f0a;
}

.container-info{
    padding: 10px 0 0 0 ;
}

.container-info-prices{
    width: 40vh;
    height: 25vh;
    background-color:rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 3px 5px 2px rgba(104, 104, 104, 0.77);
}

.preco-total{
    font-size: 8px;
}

.preco-total h1{
    padding: 15px 0 0 25px;
    display: flex;
}

.container-previaMensal{
    color: #b3b3b3;
}

.container-precoTotal p{
    font-size: 22px;
    display: flex;
}

.container-info-produto{
    padding: 10px 0 0 0;
}

.preco-produto{
    font-size: 14px;
}

.container-info-total-produto{
    width: 40vh;
    height: 25vh;
    background-color:rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 3px 5px 2px rgba(104, 104, 104, 0.77);
}

.title-total-dia{
    font-size: 8px;
}

.title-total-dia h1{
    padding: 15px 0 0 25px;
    display: flex;
}

.container-descricao{
    color: #b3b3b3;
}

.container-produto-total p{
    font-size: 22px;
    display: flex;
}

.lista-produtos{
    width: 50vh;
    height: 100vh;
    background-color: rgb(255,255,255);
    border-radius: 30px;
}

.title-lista-produtos h1{
    padding: 10px 0 0 0;
}

.lista-produto-vendidos{
    width: 60vh;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 3px 5px 2px rgba(104, 104, 104, 0.77);
}

.info-listagem-produtos h1{
    font-size: 16px;
    font-weight: 400;
}

.info-listagem-produtos{
    color: #b3b3b3;
}

.container-produtos-vendidos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 0 0;
}

.image-produto img{
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
}




/********************/

.position-grafico-dados{
    padding: 0 0 0 21px;
    position: absolute;
    bottom: 60px;
}

.container-graficos{
    width: 132.5vh;
    height: 60vh;
    background-color: rgb(255,255,255);
    border-radius: 30px;
    box-shadow: 3px 5px 2px rgba(104, 104, 104, 0.77);
}



/*******************************/